/* Full Height Linear Gradient */
html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body {
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#FFCB84), to(#e4ddca));
	background: -webkit-linear-gradient(#FFCB84 0%, #e4ddca 100%);
	background: -moz-linear-gradient(#FFCB84 0%, #e4ddca 100%);
	background: -o-linear-gradient(#FFCB84 0%, #e4ddca 100%);
	background: linear-gradient(#FFCB84 0%, #e4ddca 100%);
}

/* Header */
.home header {
	margin: 3em 0;
}

header .ux {
	color: #fff;
	background: rgba(255,255,255,.5);
	border: 5px solid #fff;
	font-size: 6em;
	font-weight: bold;
	padding: 20px;
	border-radius: 200px;
	margin-left: 20px;
}